body {
    background-color: #b26c01b6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
div{
    margin: 0 auto;
    max-width: max-content;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #45a049;
}

#rechini {
    border: 2px dotted rgb(253, 4, 224);
}

#delfini {
    border: 2px dotted rgb(4, 253, 16);
}

#broaste {
    border: 2px dotted rgb(4, 16, 253);
}
